/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: css;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 3;
	background-color: #000000;
}

/* Cell Styles: */
 
.TableStyle-css
{
	border-collapse: collapse;
	background-color: #000000;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}


.TableStyle-css-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-css-HeadE-Column1-Header1 p
{
	
}

.TableStyle-css-HeadF-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-css-HeadF-Column1-Header1 p
{
	
}

.TableStyle-css-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-css-HeadH-Column1-Header1 p
{
	
}

.TableStyle-css-HeadD-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-css-HeadD-Column1-Header1 p
{
	
}

.TableStyle-css-HeadC-Column1-Header1
{
	
}

.TableStyle-css-HeadC-Column1-Header1 p
{
	
}

.TableStyle-css-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-css-HeadB-Column1-Header1 p
{
	
}

.TableStyle-css-HeadA-Column1-Header1
{
	
}

.TableStyle-css-HeadA-Column1-Header1 p
{
	
}

.TableStyle-css-HeadG-Column1-Header1
{
	
}

.TableStyle-css-HeadG-Column1-Header1 p
{
	
}

.TableStyle-css-Foot-Footer1
{
	
}

.TableStyle-css-FootI-Column1-Footer1
{
	
}

.TableStyle-css-FootI-Column1-Footer1 p
{
	
}

.TableStyle-css-FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-css-FootE-Column1-Footer1 p
{
	
}

.TableStyle-css-FootF-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-css-FootF-Column1-Footer1 p
{
	
}

.TableStyle-css-FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-css-FootH-Column1-Footer1 p
{
	
}

.TableStyle-css-FootD-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-css-FootD-Column1-Footer1 p
{
	
}

.TableStyle-css-FootC-Column1-Footer1
{
	
}

.TableStyle-css-FootC-Column1-Footer1 p
{
	
}

.TableStyle-css-FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-css-FootB-Column1-Footer1 p
{
	
}

.TableStyle-css-FootA-Column1-Footer1
{
	
}

.TableStyle-css-FootA-Column1-Footer1 p
{
	
}

.TableStyle-css-FootG-Column1-Footer1
{
	
}

.TableStyle-css-FootG-Column1-Footer1 p
{
	
}

.TableStyle-css-Body-Body1
{
	
}

.TableStyle-css-BodyI-Column1-Body1
{
	
}

.TableStyle-css-BodyI-Column1-Body1 p
{
	
}

.TableStyle-css-BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-css-BodyE-Column1-Body1 p
{
	
}

.TableStyle-css-BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-css-BodyF-Column1-Body1 p
{
	
}

.TableStyle-css-BodyH-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-css-BodyH-Column1-Body1 p
{
	
}

.TableStyle-css-BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-css-BodyD-Column1-Body1 p
{
	
}

.TableStyle-css-BodyC-Column1-Body1
{
	
}

.TableStyle-css-BodyC-Column1-Body1 p
{
	
}

.TableStyle-css-BodyB-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-css-BodyB-Column1-Body1 p
{
	
}

.TableStyle-css-BodyA-Column1-Body1
{
	
}

.TableStyle-css-BodyA-Column1-Body1 p
{
	
}

.TableStyle-css-BodyG-Column1-Body1
{
	
}

.TableStyle-css-BodyG-Column1-Body1 p
{
	
}


